body {
    background:black;
    font-size:32px;
}

p {
    margin-bottom:0.5em;
}

button {
    font-size:100%;
    padding:20px;
    text-transform:uppercase;
    font-weight:bold;
    cursor:pointer;
    -webkit-appearance:none;
}

a {
    color:black;
    text-decoration:none;
}