body {
    color:white;    
}

.ipad {
    position:relative;
    margin:20px auto 0;
    padding:0;
    background: transparent image-url('blackboard_background.jpg') repeat scroll left top;
    width:768px;
    height:1004px;
    overflow:hidden;
}

.pane {
    position:absolute;
    top:0px;
    left:0px;
    width:768px;
    height:1004px;
}

#game {
}

.keyboard {
    position:absolute;
    bottom:20px; left:200px;
    width:370px; height: 335px;
    @include inline-block-parent();
    text-align:center;
    background-color:rgba(0,0,0,0.21);
    @include border-radius(16px);
    
    .key {
        display:block;
        width:100px;
        height:62px;
        line-height:62px;
        vertical-align:middle;
        text-align:center;
        font-size:32px;
        margin:10px;
        @include inline-hack();
        background-color:rgba(white,0.42);
        // color:white;
        // text-shadow:0px 3px 10px black;
        @include border-radius(8px);
        @include single-box-shadow(black, 1px, 1px, 5px, 0px, false);
        
        &:active {
            background:rgba(0,0,255,0.76);
        }
    }
    
    .again {
        visibility:hidden;
        background-color:#94FF00;
    }
}

.blocked .key:active {
    background-color:rgba(255,0,0,0.76);
}

.hidden {display:none;}

.time {
    position:absolute;
    top:0.25em;left:0.25em;
    padding:0.5em;
}

.question {
    text-align:center;
    margin-bottom:1em;
    white-space:nowrap;  
    font-size:1.2em;  
}
.answer {
    font-size:4em;
    width:60%;
    height:1em;
    background-color:white;
    border:1px solid rgba(0,0,0,0.42);;
    margin:0 auto;
    letter-spacing:0.1em;
    line-height:1em;
    text-align:center;
    @include border-radius(5px);
}

.feedback {
    position:absolute;
    top:0;left:0;width:100%;
    text-align:center;
    margin-top:20px;
}

#settings {
    position:absolute;
    top:0px;
    left:0px;
    
    &>div {
        top:100px;
    }
}

.option {

    display:block;
    position:relative;
    width:200px;
    padding:0px 32px;
    margin-bottom:16px;
    height:64px;
    line-height:64px;
    background:rgba(0,0,0,0.21);
    border:1px solid rgba(0,0,0,0.21);
            
    &.chosen {
        background-color:rgba(white, 0.42);
    }
}

.numbers {
    position:absolute;
    top:0px;
    left:0px;

    a {
        left:-190px;
        @include border-radius(0px 32px 32px 0px);
        text-align:right;
        
        &.chosen {
            left:-150px;
        }
    }
}

.operations {
    position:absolute;
    right:0px;
    top:0px;
    a {
        left:200px;
        @include border-radius(32px 0px 0px 32px);
        text-align:left;        
        
        &.chosen {
            left:160px;
        }
    }
}

.qa {
    position:absolute;
    top:380px;
    left:0px;
    width:100%;
}


#orient {
    width:100%;
    height:100%;
//    background-color:red;
    background-color:rgba(0,0,0,0.95);;
    color:white;
    display:none;
}
#loading {
    width:100%;
    height:100%;
//    background-color:red;
    background-color:rgba(0,0,0,0.95);;
    color:white;
}

.center-message {
    text-align:center;
    margin-top:250px;
}

.instructions,
.welcome {
    font-size:0.8em;
    text-align:center;
    width:50%;
    margin:3em auto;
    text-shadow:0px 3px 10px black;
    
    .name {
        font-size:2em;
        margin-bottom:0.5em;
    }

    p {
        margin-bottom:1em;
        
        &.head {
            text-transform:uppercase;
            margin-bottom:0.25em;
            letter-spacing:0.2em;
        }
    }
}

#start-button {
    display:block;
    width:120px;
    height:30px;
    padding:10px 0 20px;
    margin:10px auto 0;
    background: transparent url('../img/button.png') no-repeat scroll left top;
    text-shadow:1px 1px 1px rgba(255,255,255,.76);
    text-transform:uppercase;
    font-size:0.9em;
}

#bottom-right {
    position:absolute;
    bottom:1em;right:1.5em;
    width:60px;
    text-shadow:0px 3px 10px black;
    a {color:white;}

    .item {
        width:100%;
        text-align:center;
        font-size:0.45em;
        padding:0 1em;
        line-height:1em;  
        margin-top:2em; 
    }

    .button {
        display:block;
        width:100%;
        height:20px;
        padding:60px 1em 0px;
        background: transparent url('../img/settings.png') no-repeat scroll center top;
        
        
        
        @include border-radius(15px);
    }

    .num {

        span {
            font-size:3em;
            line-height:1.1em;
        }
    }
}