@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@mixin inline-hack {
    /* cross browser inline-block */
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    /* cross browser inline-block */
    vertical-align:top;
}

@mixin inline-block-parent()
{
    &:after {
        display: inline-block;
        width: 100%;
        content: '.';
        font-size: 0;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
}

@import "_1reset.scss" ;        // reset / clearfix / starting point.
@import "_2fonts.scss" ;        // Fonts.
@import "_3shared.scss" ;       // Really small rulesets that are very specific.
@import "_4objects.scss" ;      // Incredibly generic, will only ever be extended (thus need to appear early).
@import "_5generic.scss" ;      // Begin styling elements like headings, paragraphs, tables, lists etc. No classes. 
@import "_6specific.scss" ;     // Here we actually start to build particular things like navs, image galleries etc.
@import "_6_1characters.scss" ;
@import "_7helpers.scss" ;      // These classes override all other styles (error states, content hiders etc).

.debug {
    position:fixed;
    top:20px;
    right:0px;
    display:block;
    background:black;
    color:white;
    padding:10px;
    font-size:12px;
    font-family:monospace;
    z-index:1000;
}